* {
	padding: 0;
	font-family: 'Courier New', Arial, sans-serif;
	text-align: center;
}
.wrap{

}
.container2 {
	max-width: 720px;
	margin: 60px auto;
	text-align: center;
	position: relative;
	top: 1280px;
	left: 0px;
}
	h1 {
	font-size: 40px;
}
.countdown{
	margin: 40px 60px;
	display: flex;
	justify-content: space-between;
	span{
		display: block;
		font-size: 50px;
		font-weight: 700;
	}
}

.text1{
	position: absolute;
	top: 450px;
	left: 740px;
}

.text2{
	position: absolute;
	top: 650px;
	left: 570px;
}

.text3{
	position: absolute;
	top: 850px;
	left: 880px;
}

.text4{
	position: absolute;
	top: 1550px;
	left: 810px;
}

.text5{
	position: absolute;
	top: 1150px;
	left: 690px;
}

.ag{
	position: absolute;
	top: 550px;
	left: 660px;
}

.bg{
	position: absolute;
	top: 900px;
	left: 780px;
}

.cloud{
    position: absolute;
    top: 1000px; /* Adjust as needed */
    right: 1250px;
}

.cloud2{
    position: absolute;
    top: 500px; /* Adjust as needed */
    right: 50px; /* Adjust as needed */
}

.cloud3{
    position: absolute;
    top: 1300px; /* Adjust as needed */
    right: 100px; /* Adjust as needed */
}

.cloud4{
    position: absolute;
    top: 100px; /* Adjust as needed */
    left: 160px; /* Adjust as needed */
}

.paint{
	position: absolute;
	top: -20px;
	left: -10px;
}

.clock{
	position: absolute;
	top: 728px;
	left: 700px;
}

.roof{
    position: absolute;
    top: -40px; /* Adjust as needed */
    left: 805px; /* Adjust as needed */
}

.wh{
    position: absolute;
    top: 70px;
    left: 830px; 	
}

.calendar{
	position: absolute;
	top: 724px;
	left: 980px;
}

.qr{
	position: absolute;
	top: 1600px;
	left: 835px;
}

.animated-element {
    opacity: 0; /* Initially hide the element */
    transition: opacity 1s ease; /* Smooth transition for opacity */
}

.animated-element.animate {
    opacity: 1; /* Show the element when the 'animate' class is added */
}

.container {
	height: 1200px;
    width: 800px; /* Set your desired width */
    margin: 0 auto; /* Center the container horizontally */
}